:root {
  --bslib-sidebar-main-bg: #f8f8f8;
}

.popover {
  --bs-popover-header-bg: #222;
  --bs-popover-header-color: #fff;
}

.popover .btn-close {
  filter: var(--bs-btn-close-white-filter);
}
shiny-chat-message table td,
shiny-chat-message table th {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding: 3px;
}

shiny-chat-message table td {
  font-family: var(--bs-font-monospace);
}